.Student-card{
    background-color: white;
    color: black;
    display:flexbox;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    
}

.Student-profile{
    background-color: aqua;
    color: black;
}

.Student-profile-area{
    background-color:blueviolet;
}